<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Kaj Grant</title>
</head>
<body>
    <header>
        <div layout="column" layout-align="center center" class="nameHeader">
            <h1>hi.</h1>
            <h2>I'm Kaj</h2>
        </div>
    </header>
    <main ng-controller="MainController">
        <div layout="row" layout-align="center center">
            <md-button class="nav" ng-click="showPersonal()">
                <div><i class="fa fa-microchip fa-2x"></i> </div>
                <div>Personal</div>
            </md-button> 
            <md-button class="nav" ng-click="showNetflix()">
                <div><i class="fa fa-volume-up fa-2x"></i> </div>
                <div>Netflix Theme</div>
            </md-button> 
            <md-button class="nav" ng-click="showGame()">
                <div><i class="fa fa-gamepad fa-2x"></i> </div>
                <div>Game Dev</div>
            </md-button>
        </div>
    </main>
</body>
</html>


<!-- Angular.js Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script><script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>